<template>
  <section class="bookings bg-black text-white flex flex-col h-screen">   
    <div class="p-2">      
      <router-link class="return-link" :to="{name: 'Index'}">
        <span class="imgbtn self-center bg-center bg-no-repeat ml-8 w-8 h-4 inline-block" role="presentation" :src="arrow" :style="{backgroundImage:`url(${arrow})`}"></span>
        <span class="hidden">Click here to</span> <span class="return-text px-2 mx-2 font-bw-regular text-2xl">Go back</span>
      </router-link>
    </div>     
    
    <div class="booking-content container flex mx-auto h-full items-center">
      <h1 class="flex justify-center items-center mx-auto bg-center bg-no-repeat bg-auto" :style="{backgroundImage:`url(${eclipseBg})`}">{{mainText}}</h1>
    </div>
  </section>    
</template>

<script>
  import arrowNav from '@/assets/images/arrow.png'
  import eclipse from '@/assets/images/eclipse.png'
  export default {
    name:'Booking',
    data(){
      return{
        arrow: arrowNav,
        eclipseBg:eclipse,
        mainText:'Ready for Lift Off'
      }
    },
    methods:{
      goBack(){
        this.$router.go(-1)
      }
    }
  }
</script>

<style>
  .booking-content h1{
    height: 367px;
    font-size: 5em;
  }
  .return-link:hover .return-text{
    transform: scale(1.3);
  }
  .return-link:hover .imgbtn{
    animation: nextBack-animation 2s infinite;     
  }
</style>