<template>
  <div>

    <Header />

    <section class="featured-blocks bg-black text-white leading-normal">
      <span class="hidden"> Section Introduction: {{featuredBlock1.title}}</span>  <!--Accessibility element -->
      <!-- Block # 1 -->
      <div class="featured-block" >
        <div id="featured" class="block-1 min-h-screen container justify-center py-20 md:py-0  mx-auto md:flex items-center">        
          <div class="block-content  md:flex">
            <!-- block Heading -->   
            <h1 class="text-6xl py-0 md:pr-20 leading-none capitalize whitespace-no-wrap" v-html="featuredBlock1.title"></h1>
            <!-- block text -->   
            <div class="featured-block-text max-w-md md:pl-20 pt-5 " v-html="featuredBlock1.text"> </div>        
          </div>                
          <div aria-hidden="true" class="extra-bg bg-no-repeat bg-contain w-full h-full absolute" :style="{backgroundImage:`url(${featuredBlock1.extra})`}"></div>
        </div>
      </div>
      
      <!-- Block # 2 -->
      <div class="featured-block container mx-auto md:flex" >
        <span class="hidden"> Section Introduction: {{featuredBlock2.title}} </span>  <!--Accessibility element -->
        <div class="block-2 min-h-screen  mx-auto py-12  md:flex items-center">        
          <div class="block-content md:flex">            
            <!-- block text -->  
            <div class="featured-block-text max-w-md px-2 pt-5 md:pr-8  " v-html="featuredBlock2.text"> </div>         
            <!-- images --->
            <div class="featured-block-images flex flex-col items-center" >
              <div class="featured-block-image mb-10" v-for="(image, idx) in featuredBlock2.images" :key="idx">
                <img  :src="image.img" :alt="image.title"  />
              </div>
            </div>
          </div>                
        </div>        
      </div>   

      <!-- Block # 3 -->
      <div class="featured-block relative mx-auto md:flex" >
        <span class="hidden"> Section Introduction: {{featuredBlock3.title}}</span>  <!--Accessibility element -->
        <div aria-hidden="true" class="extra-bg bg-no-repeat bg-auto w-full h-full absolute" :style="{backgroundImage:`url(${featuredBlock3.extra})`}"></div>
        <div class="block-3 container min-h-screen  mx-auto py-12  md:flex flex-col justify-end items-center">        
          <div class="block-content md:flex justify-end">          
            <!-- block text -->  
            <div class="featured-block-text z-10  px-2 pt-5 md:pr-20 md:w-2/5  " v-html="featuredBlock3.text"> </div>                    
          </div>                
        </div>        
      </div>      

      <!-- Block # 4 -->
      <div class="featured-block container mx-auto md:flex" >
        <span class="hidden"> Section Introduction:{{featuredBlock4.title}} </span>  <!--Accessibility element -->
        <div class="block- relative min-h-screen  mx-auto py-12  md:flex flex-col justify-end items-center">        
          <div class="block-content md:flex justify-end">          
             
            <!-- images --->
            <div class="featured-block-images flex flex-col items-center" >
              <div class="featured-block-image mb-10" v-for="(image, idx) in featuredBlock4.images" :key="idx">
                <img  :src="image.img" :alt="image.title"  />
              </div>
            </div>

          </div>                
        </div>        
      </div>            

    </section> 

    <section class="cta h-56 bg-black text-white md:flex items-center justify-center">
      <span class="hidden"> Click Here: </span>  <!--Accessibility element -->
      <router-link class="btn border-2 py-4 px-10 flex justify-center" :to="{name: 'Booking'}">
        <span class="self-center">{{ctaText}}</span>
        <span class="imgbtn self-center bg-center bg-no-repeat ml-8 w-8 h-4 inline-block rotate" role="presentation" :src="arrow" :style="{backgroundImage:`url(${arrow})`}"></span>
      </router-link>
    </section>
  </div> 
</template>

<script>
  import AOS from 'aos'
  //components
  import Header from '@/components/sections/Header'  
  import WelcomeScreen from '@/components/blocks/WelcomeScreen'
  //images
  import bgImg1 from '@/assets/images/july1969.png'
  import bgImg2 from '@/assets/images/bg-2.png'
  import arrowScroll from '@/assets/images/arrow-scroll.png'
  import arrowNav from '@/assets/images/arrow.png'
  import imgStep from '@/assets/images/step.png'
  import redMoon from '@/assets/images/red-moon.png'
  import rocket from '@/assets/images/rocket.png'

  import studio from '@/assets/images/commandcenter.png'
  import cameraMan from '@/assets/images/camera.png'
  import mensen from '@/assets/images/mensen.png'
  import cordlessDevices from '@/assets/images/cordlessdevices.png'

  export default {
    name: 'Index',
    components:{
      Header
    },
    data () {
      return {
        ctaText:'Book your next space mission',
        arrow: arrowNav,
        featuredBlock1:{
          title:'One giant <br />leap for <br />mankind',
          text:"<p>July 1969. It's a little over eight years since the flights of Gagarin and Shepard, followed quickly by President Kennedy's challenge to put a man on the moon before the decade is out.</p><p>It is only seven months since <span class=\"red-bg\">NASA's</span> made a bold decision to send Apollo 8 all the way to the moon on the first manned flight of the massive Saturn V rocket.</p><p>Now, on the morning of July 16, Apollo 11 astronauts Neil Armstrong, Buzz Aldrin and Michael Collins sit atop another Saturn V at Launch Complex 39A at the Kennedy Space Center. The three-stage 363-foot rocket will use its 7.5 million pounds of thrust to propel them into space and into history.</p>",
          extra: bgImg1,      
        },
        featuredBlock2:{
          title:'',
          text:'<p> After one and a half orbits, Apollo 11 gets a "go" for what mission controllers call <span class="red-bg">"Translunar Injection"</span> - in other words, it\'s time to head for the moon. Three days later the crew is in lunar orbit. A day after that, Armstrong and Aldrin climb into the lunar module Eagle and begin the descent, while Collins orbits in the command module Columbia. </p> <p>Collins later writes that Eagle is "the weirdest looking contraption I have ever seen in the sky," but it will prove its worth.</p> <p>When it comes time to set Eagle down in the Sea of Tranquility, Armstrong improvises, manually piloting the ship past an area littered with boulders. During the final seconds of descent, Eagle\'s computer is sounding alarms.</p> <p>It turns out to be a simple case of the computer trying to do too many things at once, but as Aldrin will later point out, "unfortunately it came up when we did not want to be trying to solve these particular problems."</p> <p>When the lunar module lands at 4:17 p.m EDT, only 30 seconds of fuel remain. Armstrong radios "Houston, Tranquility Base here. The Eagle has landed." Mission control erupts in celebration as the tension breaks, and a controller tells the crew "You got a bunch of guys about to turn blue, we\'re breathing again."</p>',
          images: [ { img:imgStep, title:'' }, { img:redMoon, title:'' }, { img:rocket, title:'' } ]   
        },
        featuredBlock3:{
          title:'',
          text:"<p> They leave behind an American flag, a patch honoring the fallen Apollo 1 crew, and a plaque on one of Eagle's legs. It reads, \"Here men from the planet Earth first set foot upon the moon. July 1969 A.D. We came in peace for all mankind.\" </p> <p>Armstrong and Aldrin blast off and dock with Collins in Columbia. Collins later says that \"for the first time,\" he \"really felt that we were going to carry this thing off.\"</p> <p>The crew splashes down off Hawaii on July 24. Kennedy's challenge has been met. Men from Earth have walked on the moon and returned safely home.</p>",
          extra:bgImg2
        },
        featuredBlock4:{
          title:'',
          text:'',
          images: [ { img:studio, title:'' }, { img:cameraMan, title:'' }, { img:mensen, title:'' }, { img:cordlessDevices, title:'' } ]   
        }                             
      }
    }
  }
</script>

<style>
  .featured-block .extra-bg{      
      background-position: 0 calc(100% - 0px);            
      left: 0;
  }
  .nextBack-animation{
    animation: nextBack-animation 2s infinite; 
  }
  h1{
    font-family: CanelaThin;
  }
  .featured-block-text p {
      padding-bottom: 2rem;
    
  }
  .featured-block .red-bg{
    background:#ff5500;    
    color:#000;
  }
  .btn{
    border-color: #ff5500;
    font-family: BwGradualRegular; 
  }
  .btn:hover{
    background-color: #ff5500;
    color:#fff;  
  }
  .btn:hover span{
    filter: grayscale(1);  
  }
  .btn:hover .imgbtn{    
    animation: nextBack-animation 2s infinite;     
  }
  .imgbtn{
    content:'';    
  }
  .imgbtn.rotate{
    transform: rotateY(180deg);
  }
.ghost{
    left: 0;
    top: 86px;
    color: #242424;
    font-size: 7em;
}
  @media only screen and (min-width: 1100px) {
  .featured-block-image:nth-of-type(2n){
    position: relative;
    left:100px;
  }
}

</style>
