<template>
    <div class="home-screen">
        <div class="container h-screen mx-auto flex flex-col justify-between py-12">
            <header> <Logo /> </header> <!-- Logo-->
            
            <!-- main banner-->
            <WelcomeScreen />

            <button @click="scroller" v-smooth-scroll class="arrow-scroll mx-auto text-xl"> <!-- scroll arrrow -->
                <span>{{ArrowScroll.text}}</span> <img class="mx-auto pt-5" :src="ArrowScroll.image" :alt="ArrowScroll.text"> 
            </button>
        </div>        
    </div>
</template>

<script>

import Logo from '@/components/blocks/Logo'
import WelcomeScreen from '@/components/blocks/WelcomeScreen'
import ArrowScroll from '@/assets/images/arrow-scroll.png'
    export default {
        name:'Header',
        components:{
            WelcomeScreen,  //more than the header, for now this components is the homescreen
            Logo
        },
        data(){
            return{                
                ArrowScroll:{  //properties for automatic click scroll in home page
                    text:'Scroll to discover me',
                    image:ArrowScroll
                }
            }
        },
        methods:{
            scroller(){
                var elmnt = document.getElementById("featured");
                elmnt.scrollIntoView();
            }
        }
    }
</script>

<style>
.home-screen{
    background:#ff5500;    
}
.arrow-scroll{
    font-family: CanelaThin;
}
.arrow-scroll img{
    animation: scroll-animation 2s infinite; 
}
/* hover animation */

.home-screen .logo img:hover, .home-screen a:hover{
    transform:scale(1.2);
    transition-duration: 0.3s;
}
@keyframes scroll-animation {
  0%   { transform: translateY(0); }
  50% { transform: translateY(20px); }
  100% {  transform: translateY(0); }
}
@keyframes nextBack-animation {
  0%   { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% {  transform: translateX(0); }
}
</style>