<template>
    <a href="/" class="logo" title="Click for homepage" >
        <img class="mx-auto" :src="branding.img" :alt="branding.altText"   />        
    </a>   
</template>

<script>
import logoImg from '@/assets/logo.png'
    export default {
        name:'Logo',
        data(){
            return{
                branding:{ 
                    img:logoImg,
                    title:"Lunar",
                    altText:'Lunar Logo'       
                }         
            }
        }        
    }
</script>

<style>

</style>