<template>
    <div>
      <!--  <img class="mx-auto" :src="mainImg" :alt="altText" :title="altText"  />       -->
      <transition-group appear name="fade" tag="div" class="nav-banner flex">
        <img v-for="image in moonImg" :src="image.img" :alt="image.title" :key="image.idx" />
      </transition-group>
    </div>
</template>

<script>
  import moonImg from '@/assets/images/moon.png'
  import moonImg1 from '@/assets/images/moon/moon-1.png'
  import moonImg2 from '@/assets/images/moon/moon-2.png'
  import moonImg3 from '@/assets/images/moon/moon-3.png'
  import moonImg4 from '@/assets/images/moon/moon-4.png'
  import moonImg5 from '@/assets/images/moon/moon-5.png'
  import moonImg6 from '@/assets/images/moon/moon-6.png'
  import moonImg7 from '@/assets/images/moon/moon-7.png'
    
  export default {
    name:'WelcomeScreen' ,
    data(){
        return{
        mainImg:moonImg,
        altText:'Navigation Banner',
        moonImg:[
            {img: moonImg1, url:'#', title:'', idx:1},
            {img: moonImg2, url:'#', title:'', idx:2}, 
            {img: moonImg3, url:'#', title:'', idx:3},
            {img: moonImg4, url:'#', title:'', idx:4}, 
            {img: moonImg5, url:'#', title:'', idx:5},
            {img: moonImg6, url:'#', title:'', idx:6},
            {img: moonImg7, url:'#', title:'', idx:7}
        ]
      }
    }
  }
</script>

<style >
.nav-banner img{
    cursor: pointer;
    transition-duration: 0.5s;
    
}
.nav-banner img:hover{    
    transform: translateY(-50px);    
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
@media only screen and (max-width: 1400px) {
  .nav-banner img{
    max-width:14.2%;    
  }
}
</style>