<template>
  <div id="app">        
    <router-view/>
  </div>
</template>

<script>
import './assets/css/tailwind.css';

export default {
  name: 'App',  
}
</script>

<style>
  html {
    scroll-behavior: smooth;
  }
  .hidden{
      position: absolute;
      width: rem(1);
      height: rem(1);
      clip: rect(1px,1px,1px,1px);
      word-wrap: normal;
      left: -2000px;
  }
  @font-face {
    font-family: BwGradualRegular;
    src: url('./assets/fonts/BwGradualDEMO-Regular.otf');
  }
  .font-bw-regular{
    font-family: BwGradualRegular;
  }
  @font-face {
    font-family: BwGradualRegularBold;
    src: url('./assets/fonts/BwGradualDEMO-Bold.otf');
  }
  .font-bw-bold{
    font-family: BwGradualBold;
  }
  @font-face {
    font-family: CanelaThin;
    src: url('./assets/fonts/Canela-Thin.otf');
  }
  .font-canela-thin{
    font-family: CanelaThin;
  }
</style>
